name: Run Ansible SIS5

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Run Ansible Playbook
        run: ansible-playbook -i inventory site.yml
